@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=Mr+De+Haviland&display=swap");
$font1: "Josefin Slab, serif";
$font2: "Mr De Haviland";
$blurple: #7289da;
$grey1: #23272a;
$grey2: #2c2f33;
$grey3: #393c43;
$social: #2a2a2a;
$grey4: #34373c;
$grey5: #99aab5;
$white: #ffffff;
$purple: #6e48aa;
$blue: #00071c;
$blueButton: #315fb5;
$listColor: rgba(57, 60, 67, 0.35);

* {
  scroll-behavior: smooth;
}
// * {
//   // IE and Edge
//   -ms-overflow-style: none;
//  Firefox
//   scrollbar-width: none;
//Chrome, Safari
//    &::-webkit-scrollbar {
//      display: none;
//    }
// }
*::-webkit-scrollbar {
  width: 15px;
}
*::-webkit-scrollbar-track {
  background: $grey2;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: $grey1;
  border-radius: 20px;
  border: 3px solid $grey2;
}

body {
  font-family: $font1;
  font-size: 1.25rem;
  height: 100vh;
}

h2,
h3,
h4,
h5,
h6 {
  color: $white;
}

h3 {
  text-transform: uppercase;
}

a {
  color: $blurple;
  text-decoration: none;
}

section {
  min-height: 558px;
  max-width: 758px;
  padding: 30px 25px;
  margin: auto;
  opacity: 1;
  transform: translateY(0px);
  transition: all 1.5s ease;
}
.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.wrapper {
  display: flex;
}

.panel__main {
  background-color: $grey3;
  height: 100vh;
  width: 100vw;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  position: relative;
  .panel__main-side {
    background: $blue;
    height: 100vh;
    width: 17.85vw;
    @media (max-width: 500px) {
      width: 0;
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      overflow-x: hidden;
      transition: all 0.6s ease-in-out;
      padding-top: 50px;
    }

    .closebtn {
      color: $grey5;
      position: absolute;
      top: 20px;
      right: 25px;
      font-size: 36px;
      @media (min-width: 500px) {
        display: none;
      }
    }
    .list__links {
      padding: 20px 0 7.5px 7.5px;
      li {
        display: block;
        border-radius: 5px 0 0 5px;
        margin: 5px 0;
        padding: 15px;
        transition: all 0.5s ease-in-out;
        background-color: $listColor;
        box-shadow: 0 8px 32px -10px rgba(40, 42, 65, 0.37);
        position: relative;
        z-index: 1;
        &:hover:not(.active) {
          color: $blueButton;
          span {
            width: 100%;
          }
        }
        span {
          width: 0%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $grey1;
          border-radius: 5px 0 0 5px;
          transition: 0.5s ease-in-out;
          z-index: -1;
        }
      }
      .active {
        background: $grey3;
        color: $white;
      }
      a {
        color: $grey5;
        text-decoration: none;
        transition: color 0.9s linear;
      }
    }
    .social-links {
      display: flex;
      justify-content: flex-end;
      position: relative;
      left: 8px;

      ul {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-23deg) skew(13deg);
        transform-style: preserve-3d;
      }
      ul li {
        position: relative;
        list-style: none;
        width: 3.72vw;
        height: 3.72vw;
        margin: 0 1.26vw;
        @media (max-width: 500px) {
          width: 50px;
          height: 50px;
          margin: 0 17px;
        }
      }
      ul li:before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0px;
        width: 100%;
        height: 10px;
        background: $social;
        transform-origin: top;
        transform: skewX(-46deg);
      }
      ul li:after {
        content: "";
        position: absolute;
        top: 0px;
        left: -9px;
        width: 9px;
        height: 100%;
        background: $social;
        transform-origin: right;
        transform: skewY(-46deg);
      }
      ul li span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex !important;
        background: $social;
        justify-content: center;
        align-items: center;
        color: $blurple;
        font-size: 2.23vw !important;
        @media (max-width: 500px) {
          font-size: 20px !important;
        }
        transition: 1.5s ease-out;
      }
      ul li:hover span {
        z-index: 1000;
        transition: 0.3s;
        color: #fff;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
      }

      ul li:hover span:nth-child(5) {
        transform: translate(40px, -40px);
        opacity: 1;
      }
      ul li:hover span:nth-child(4) {
        transform: translate(30px, -30px);
        opacity: 0.8;
      }
      ul li:hover span:nth-child(3) {
        transform: translate(20px, -20px);
        opacity: 0.6;
      }
      ul li:hover span:nth-child(2) {
        transform: translate(10px, -10px);
        opacity: 0.4;
      }
      ul li:hover span:nth-child(1) {
        transform: translate(0px, 0px);
        opacity: 0.2;
      }
      ul li:nth-child(1):hover span {
        background: $blurple !important;
      }
      ul li:nth-child(2):hover span {
        background: $grey1 !important;
      }
      ul li:nth-child(3):hover span {
        background: $purple !important;
        color: black;
      }
    }
  }

  .overlay {
    width: 0;
    height: 100vh;
    position: absolute;
    z-index: 1;
    transition: all 0.6s linear;
  }

  .panel__main-content {
    color: $grey5;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    left: 17.85vw;
    height: 100vh;
    width: 82.15vw;
    @media (max-width: 500px) {
      width: 100vw;
      left: 0;
    }
    .icon {
      font-size: 2.5rem;
      color: $white;
      position: fixed;
      left: 35px;
      top: 100px;
      z-index: 2;
      @media (min-width: 500px) {
        display: none;
      }
    }
    #home {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin: 0;
        padding: 0;
        color: $grey3;
        font-family: "Josefin Slab", serif;
        font-size: calc(150% + 2vw);
        // text-shadow: 1px 1.5px #c2c2c2, -1px -1.5px #c2c2c2;
        perspective: 700px;

        span {
          display: table-cell;
          margin: 0;
          padding: 0;
          animation: focus 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both,
            light 5s linear infinite;
          @for $i from 1 through 18 {
            &:nth-child(#{$i}) {
              animation-delay: $i * 0.05s;
            }
          }
        }
      }
      @keyframes focus {
        0% {
          letter-spacing: -0.5em;
          transform: translateZ(-800px);
          filter: blur(12px);
          opacity: 0;
        }
        100% {
          transform: translateZ(0);
          filter: blur(0);
          opacity: 1;
        }
      }

      @keyframes light {
        0%,
        20%,
        100% {
          color: $grey3;
          text-shadow: 1px 1.5px #c2c2c2, -1px -1.5px #c2c2c2;
        }
        10% {
          color: $blueButton;
          text-shadow: -2.2px 1.5px #c2c2c2, 2.2px -1.5px #c2c2c2;
        }
      }

      .flip-box {
        width: 300px;
        height: 297px;
        perspective: 1000px;
        animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      @keyframes scale-in-center {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }

      .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.5s linear;
        transform-style: preserve-3d;
      }

      .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
      }

      .flip-box-front,
      .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        img {
          width: 100%;
          height: 100%;
          filter: contrast(110%) drop-shadow(-5px -3px 25px rgba(0, 0, 0, 0.4));
          -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(20, 18, 18, 0.3));
        }
      }

      .flip-box-back {
        transform: rotateY(180deg);
        img {
          filter: contrast(120%) grayscale(100%)
            drop-shadow(-5px -3px 25px rgba(0, 0, 0, 0.4));
        }
      }
      hr {
        width: 50vw;
        height: 1px;
        margin-top: -2px;
        outline: 0;
        border: 0;
        box-shadow: 0 2px 2px #c5c5c5;
        z-index: 1;
      }

      h3 {
        font-family: "Josefin Slab", serif;
        //font-size: 2rem;
        font-size: calc(100% + 0.8vw);
        // @media (max-width: 500px) {
        //   font-size: 1.4rem;
        // }
        // @media (min-width: 500px) and (max-width: 670px) {
        //   font-size: 1.5rem;
        // }
        background: linear-gradient(90deg, $grey3, $white, $grey3);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 5s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        transform: rotateX(55deg) skewX(-20deg);
      }
    }
  }
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

#projects {
  position: relative;
  @media (max-width: 500px) {
    margin-bottom: -180px;
  }
  .swiper-container {
    width: 500px;
    height: 450px;
    @media (min-width: 767px) {
      display: none;
    }
    @media (max-width: 500px) {
      width: 350px;
      height: 250px;
      left: 50%;
    }
    position: absolute;
    left: 40%;
    top: 40%;
    margin-left: -180px;
    margin-top: -150px;
    p {
      font-size: 15px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
    }
  }

  #wrapD3Cube {
    width: 35vw;
    height: 35vw;
    margin: 40px auto 0;
    @media (max-width: 768px) {
      display: none;
    }
  }
  #D3Cube {
    width: 30vw;
    height: 30vw;
    top: 40px;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    position: relative;
    /* Safari 4.0 - 8.0 */
    -webkit-transition: all 1500ms ease-in-out;
    -webkit-animation: cubeRotation 5s infinite;
    animation: cubeRotation 8s infinite;
    transition: all 1500ms ease-in-out;
    &:hover {
      animation-play-state: paused;
    }
    a {
      position: absolute;
      -webkit-transition: all 1500ms ease-in-out;
      transition: transform 1500ms ease-in-out;
      width: 30vw;
      height: 30vw;
      overflow: hidden;
      opacity: 0.8;
    }
  }
  p {
    position: relative;
    text-align: center;
    margin-top: 60px;
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes cubeRotation {
    0% {
      -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    }
    50% {
      -webkit-transform: rotateX(-22deg) rotateY(-128deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);
    }
  }
  /* Standard syntax */
  @keyframes cubeRotation {
    0% {
      transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    }
    50% {
      transform: rotateX(-22deg) rotateY(-238deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);
    }
  }

  #side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(15vw);
    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px)
      translateZ(15vw);
    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px)
      translateZ(15vw);
    background-image: url(img/creditCard4.png);
    background-size: cover;
    background-position-x: -2px;
    background-position-y: -2px;
  }
  #side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(15vw);
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px)
      translateZ(15vw);
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px)
      translateZ(15vw);
    background-image: url(img/projects1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  #side3 {
    transform: translateX(0px) translateY(0px) translateZ(15vw);
    -moz-transform: translateX(0px) translateY(0px) translateZ(15vw);
    -webkit-transform: translateX(0px) translateY(0px) translateZ(15vw);
    background-image: url(img/projects2.png);
    background-size: cover;
    background-position: 50% 100%;
  }
  #side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(15vw);
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px)
      translateZ(15vw);
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px)
      translateZ(15vw);
  }
  #side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(15vw);
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px)
      translateZ(15vw);
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px)
      translateZ(15vw);
    background-image: url(img/projects3.png);
    background-size: cover;
  }
  #side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(15vw);
    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px)
      translateZ(15vw);
    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px)
      translateZ(15vw);
    // background-color: $blueButton;
    background-image: url(img/projects5.png);
    background-size: cover;
    background-position: center;
  }
}

#contact {
  .contact-wrapper {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: $font1;
    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }

  /* Begin Left Contact Page */

  .form-horizontal {
    flex-basis: 1;
    max-width: 360px;
    margin-top: 25px;
    position: relative;
    input {
      width: 100%;
      height: 38px;
      margin-bottom: 25px;
      padding-left: 15px;
      color: $grey5;
      background-color: $grey3;
      border: 1px solid $white;
      border-radius: 5px;
      font: 0.8em $font1;
      outline: none;
      box-sizing: border-box;
      &:focus {
        box-shadow: 0 0 1px 1px $purple;
      }
      // https://www.samanthaming.com/tidbits/88-css-placeholder-shown/
    }
    label {
      display: none;
      position: absolute;
      top: -8px;
      font-size: 16px;
      color: $blurple;
      background: $grey3;
      padding: 0 0.1rem;
      margin-left: 0.8rem;
    }
    .email {
      top: 54px;
    }
    .message {
      top: 118px;
    }
    input:not(:placeholder-shown) + label {
      display: block;
    }
    input:not(:placeholder-shown) {
      box-shadow: 0 0 2px 2px $blueButton;
    }
  }

  textarea {
    width: 100%;
    max-width: 360px;
    background-color: $grey3;
    color: $grey5;
    border: 1px solid $white;
    font: 0.8em $font1;
    border-radius: 5px;
    outline: none;
    padding: 7px 0 0 15px;
    box-sizing: border-box;
    &:focus {
      box-shadow: 0 0 1px 1px $purple;
    }
  }
  textarea:not(:placeholder-shown) + label {
    display: block;
  }
  textarea:not(:placeholder-shown) {
    box-shadow: 0 0 2px 2px $blueButton;
  }

  .send-button {
    margin-top: 20px;
    height: 38px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid $white;
    background-color: $blueButton;
    transition: all 0.2s ease-in-out;
  }

  .button {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 38px;
    background-color: $blurple;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    i {
      margin-top: 14px;
    }
  }

  .send-text {
    display: block;
    margin-top: 19px;
    font: 300 14px "Lato", sans-serif;
    letter-spacing: 2px;
  }

  .button:hover {
    transform: translate3d(0px, -36px, 0px);
  }

  /* Begin Right Contact Page */

  .direct-contact-container {
    flex-basis: 1;
    max-width: 360px;
    width: 100%;
  }

  /* Location, Phone, Email Section */

  .contact-list {
    list-style-type: none;
    margin-left: -10px;
    margin-top: -15px;
    @media (max-width: 767px) {
      margin: 15px 0 0 0;
      padding: 0;
    }
  }

  .list-item {
    line-height: 6.2;
    color: #aaa;
    @media (max-width: 767px) {
      line-height: 3.7;
    }
  }

  .contact-text {
    letter-spacing: 1.9px;
    color: #bbb;
  }

  .place {
    margin-left: 32px;
  }

  .phone {
    margin-left: 26px;
  }

  .gmail {
    margin-left: 23px;
  }

  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;

    &:hover {
      color: #fff;
    }
  }
}
footer {
  background-color: $grey2;
  height: 100px;
  width: 82.15vw;
  color: $blurple;
  @media (max-width: 500px) {
    width: 100vw;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 758px;
    height: 100%;
    padding: 0 35px 0 25px;
    margin: auto;
    letter-spacing: 1.5px;
    font-size: 2.5rem;
    font-family: $font2;
    @media (min-width: 768px) and (max-width: 806px) {
      font-size: 2rem;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
      padding: 0;
    }
    .copyright {
      @media (max-width: 767px) {
        margin-left: -20px;
      }
    }
  }
}
