 about p span text scrolling-reveal effect
 https://www.youtube.com/watch?v=d10GaL6F-lA&t=76s&ab_channel=KevinPowell

contact text area letter flying effect
  // https://codepen.io/chris22smith/pen/MWKXbvx
